  html {
    background: rgb(17, 57, 131);
    font-family: Menlo;
    display: flex;
    height: .2em;
  }
  
  .controls {
    text-align: center;
    top: 5em;
    width: 100%;
  }

  .title {
    text-align: center;
    font-family: arbutus;
    padding: 0;
    margin: 0;
    color: rgb(0, 247, 255);
  }
  
  .button {
    color: white;
    font-size: 3vw;
    margin: 0em .25em;
    text-decoration: underline black;
    border: 2px solid black;
    border-radius: .5em;
    padding: .5em;
    background-color: rebeccapurple;
  }

  .button:hover {
    font-size: 3vw;
    margin: 0 0.25em;
    text-decoration: underline black;
    border: 2px solid black;
    border-radius: .5em;
    padding: .5em;
    background-color: orange;
    color: rgb(223, 19, 53);
    cursor: wait;
  }
  
  .stopwatch {
    font-size: 20vw;
    border: 5px solid green;
    border-radius: .25em;
    text-align: center;
    margin: 0 .5em .25em .5em;
    background-image: linear-gradient(to right, rgba(164, 0, 240, 0.938), red, rgb(43, 255, 0));
    color:  rgb(255, 255, 255);
  }
  
  .results {
    border-color: lime;
    list-style: decimal;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
  }